.clickable {
  cursor: pointer;
  color: blue;
}

.booth {
  border: 1px black solid;
  width: 10%;
  padding: 10px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

#schedule-table {
  table-layout: fixed;
  width: 100%;

  td, th {
    width: 30px;
    border-left: 1px gray dotted;

    &.active {
      border-left: 1px black solid;
      border-right: 1px black solid;
    }
  }

  div.planned-movie {
    position: relative;
    background-color: lightgreen;
    color: black;
    height: 30px;
    cursor: grabbing;

    i.delete-show {
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }

  #draggerShadow {
    opacity: 50%;
  }
}

#schedule-movie-dragger {
  background-color: black;
  color: white;
  height: 30px;
  display: inline-block;
  cursor: grabbing;
  overflow: hidden;
  text-align: center;
  padding-left: 3px;
}

#research-progress-bar {
  width: 100%;
  position: fixed;
  bottom: 0px;
}

div.research-block  {
  cursor: pointer;
  border: 1px black solid;
  padding: 6px;
  margin: 6px;

  .active {
    background-color: lightgreen;
  }
}





/*START CINEMA LOOK AND FEEL*/
.room {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  position: relative;

  .component {
    border: 1px green solid;
    position: absolute;
  }

  .screen {
    width: 80%;
    margin: 0 auto;
    padding: 12px;
  }

  .speaker {
    width: 40px;
    height: 20px;
    top: 40px;
  }

  .speaker-left {
    left: 10px;
  }

   .speaker-right {
     right: 10px;
   }

  .heating {
    bottom: 5px;
    height: 30px;
    width: 30px;
    left: 10px;
  }

  .projector {
    bottom: 5px;
    height: 30px;
    width: 30px;
    margin: 0 auto;
  }

  .seats {
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px green solid;
    width: 200px;
    height: 200px;
  }
}

.entryhall {
  width: 300px;
  height: 80%;
}

.hallway {
  border: 1px solid black;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 300px;
  background-image: url('../public/hallfloor2.jpg');
}